<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871464295794-jqm9n40f908h011sa878kfl89au5ehtp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871464295794-jqm9n40f908h011sa878kfl89au5ehtp</string>
	<key>API_KEY</key>
	<string>AIzaSyAlZd2IIMgOqnz1UwbXXL1K2HKsbPrZf70</string>
	<key>GCM_SENDER_ID</key>
	<string>871464295794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolistapp</string>
	<key>PROJECT_ID</key>
	<string>uptodo-5035e</string>
	<key>STORAGE_BUCKET</key>
	<string>uptodo-5035e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871464295794:ios:1bc4d7ee4210e268b311eb</string>
</dict>
</plist>